<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="Container">
      <ion-list lines="none">
        <ion-card id="top">
            <ion-img id="image" src="/assets/School.jpg"></ion-img>
            <ion-list-header>
            <ion-label style="margin-left:25%;text-shadow: 1px 1px grey" id="lbl1">About US</ion-label>
            </ion-list-header>
            <ion-label style="font-size: 18px">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah<br>blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah<br>blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah</ion-label>
        </ion-card>
        <ion-card  style="background:rgba(255,255,255,0.4)" id="team">
          <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meet the Team</ion-label>
          <ion-item [ngStyle]="{'background-color':select}" router-direction="forward" (click)="Darryl()">
            <ion-icon  slot="start" name="person"></ion-icon> 
            <ion-label id="lbl">Darryl Brown</ion-label>
            <ion-icon id="arrow" size="small" name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item [ngStyle]="{'background-color':select1}" router-direction="forward" (click)="Christina()">
            <ion-icon slot="start" name="person"></ion-icon> 
            <ion-label id="lbl">Christina Petri</ion-label>
            <ion-icon id="arrow" size="small" name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item [ngStyle]="{'background-color':select2}" router-direction="forward" (click)="Welsh()">
            <ion-icon slot="start" name="person"></ion-icon> 
            <ion-label id="lbl">Carlisle Welsh</ion-label>
            <ion-icon  id="arrow" size="small" name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item [ngStyle]="{'background-color':select3}" router-direction="forward" (click)="Odane()">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label id="lbl">Odane Robinson</ion-label>
            <ion-icon id="arrow" size="small" name="arrow-forward"></ion-icon>
         </ion-item>
       
        </ion-card>
      </ion-list>      
  </ion-card>

</ion-content>
