ion-title{
    font-family:"monseratt";
    color:dodgerblue;
}
#image1{
    border-top-color: dodgerblue;
}
ion-textarea{
    border: 1px solid #C0C0C0;
    font-family:"monseratt";
}

#c1{
    border-top: 1px solid dodgerblue;
    background-color: rgba(0,0,0,0.3);
}
ion-input{
    border-bottom:  1px solid#C0C0C0;
    font-family:"monseratt";
}
ion-button{
    font-family:"monseratt";
    font-size: 15px;
}
ion-card-content{
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-family: "monserrat";
}