<ion-header>
  <ion-toolbar>
    <ion-button (click)="returnHome()" routerLink="/" routerDirection="back"  color="Dark" id="back">
      <ion-icon id="back" size="large" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="log">
    <ion-img id="image2" src="/assets/log.png"></ion-img><br />
    <ion-label id="UL">User Login</ion-label>
    <ion-card>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input
              type="text"
              placeholder="   User ID"
              [(ngModel)]="userid"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input
              type="Password"
              placeholder="   Password"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
          <br />
          <p style="font-family:Monserrat; color:#DCDCDC">
            Not a member?
            <a style="text-decoration: none;color:blue" href="register">Register now</a>
          </p>
        </ion-list>
        <br /><br />
        <ion-button type="reset" [ngStyle]="{'background-color':clear}" id="btn2" (click)="clearIn()" color="Clear">Clear</ion-button>
        <ion-button [ngStyle]="{'background-color':log}" id="btn2" (click)="OpenPortal()" color="Clear">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
