<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="log">
        <ion-img id="image2" src="/assets/log.png"></ion-img><br>
        <ion-label id="UL">User Login</ion-label>
        <ion-card>
          <ion-card-content>
            <ion-list no-line>
              <ion-item>
                <ion-icon name="person"></ion-icon>
                <ion-input type="text" placeholder="   Username"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-icon name="lock"></ion-icon>
                  <ion-input type="Password" placeholder="   Password"></ion-input>
              </ion-item>
              <br>
              <p style="font-family:Monserrat; color:#DCDCDC">Not a member? <a style="text-decoration: none;color:blue" href="#">Register now</a></p>
            </ion-list>
            <br><br>
            <ion-button color="Clear" >Clear</ion-button>
            <ion-button color="Clear" >Login</ion-button>
          </ion-card-content>
        </ion-card>
    </div>

</ion-content>
