#log{
    margin-left:10%;
    margin-top:10%;
    width:80%;
    height:90%;
    background: rgba(0,0,0,0.3);
    border: 1px solid dodgerblue;
    box-shadow: 0 0 8px 0 whitesmoke;
    border-radius: 2em;
    text-align: center;
}
#UserIcon{
    color:white;
    font-size: 64px;
    
}
#image2{
    width:60%;
    height:30%;
    margin-left:20%;
    margin-top:5%;
    box-shadow: 0 0 8px 0 whitesmoke;
    border-radius: 20em;
}
#UL{
    color: #F0F8FF;
    text-shadow: 1px 1px #696969;
    font-size: 30px;
    font-family: "Monserrat";
    border-radius: 2em;
}
.back{
    color:black;
}
ion-icon {
    color:#DCDCDC;
}
ion-input {
    margin-left:10px;
    color:white;
    font-family: "Monserrat";
}
ion-input:active {
   color:black;
}
#back{
    color:black;
}
#btn2{
    color:white;
    font-family: "Monserrat";
    box-shadow: 0 0 2px 0 whitesmoke;
    border:1px solid dodgerblue;
    border-radius: 2em;
    margin-left: 10px;
    width:100px;
    border-top: none;
}