ion-title{
    font-family:"monseratt";
    color:dodgerblue;
}
#top{
    background-color: rgba(0,0,0,0.1);
}
ion-button{
    font-family:"monseratt";
    height:50px;
    font-size:18px;
    border-radius: 3em;
    box-shadow: 0 0 8px 0 whitesmoke;
    margin-bottom:10px;
    border: 1px solid dodgerblue;
    width:100%;
    justify-content:flex-start;
}
ion-card-content{
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-family: "monserrat";
}
ion-card-subtitle{
    color: white;
    font-size:16px;
    text-shadow:1px 1px grey;
}
.Try{
    justify-content:flex-start;
    align-content: left;
}
