<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button float-right (click)="openProfile()" routerDirection="forward" color="Dark" id="back"> <ion-icon id="back" name="contact"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img id="image1" src="/assets/Smart1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title id="tit">Welcome to the University of Technology, Jamaica Assistive Parking System
      </ion-card-title>
    </ion-card-header>
    <ion-card-content id="tit2">
      <ion-card-subtitle>We Guarantee: </ion-card-subtitle>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
        <ion-label>   Decrease In Time Taken To Locate Parking.</ion-label><br>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
        <ion-label>   Improvement In The Security Of Your Vehicle.</ion-label><br>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
        <ion-label>   New And Fully Efficient Parking Spot <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reservation System.</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button id="btnLog" ionFocus (click)="OpenLogin()" routerDirection="Forward"  shape="round" expand="block" [ngStyle]="{'background-color':buttonColor}" >Log-In</ion-button>
</ion-content>
 