<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking Lot View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <BR>
  <div id="Layout">
    <table width="100%">
      <tr>
        <td style="font-size: 32px;color:white">1.<ion-icon [ngStyle]="{'background-color':iconColor}" id="one" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        <td style="text-align:end;font-size: 32px;color:white">2.<ion-icon float-right id="two" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">3.<ion-icon id="three" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">4.<ion-icon float-right id="four" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">5.<ion-icon id="five" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">6.<ion-icon float-right id="six" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">7.<ion-icon id="seven" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">8.<ion-icon float-right id="eight" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">9.<ion-icon id="nine" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">10.<ion-icon float-right id="ten" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">11.<ion-icon id="eleven" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">12.<ion-icon float-right id="twelve" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">13.<ion-icon id="thirteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">14.<ion-icon float-right id="fourteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">15.<ion-icon id="fifteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">16.<ion-icon float-right id="sixteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">17.<ion-icon id="seventeen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">18.<ion-icon float-right id="eighteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">19.<ion-icon id="nineteen" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">20.<ion-icon float-right id="twenty" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td style="font-size: 32px;color:white">21.<ion-icon [ngStyle]="{'background-color':iconColor}" id="twentyone" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
          <td style="text-align:end;font-size: 32px;color:white">22.<ion-icon float-right id="twentytwo" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">23.<ion-icon id="twentythree" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">24.<ion-icon float-right id="twentyfour" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">25.<ion-icon id="twentyfive" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">26.<ion-icon float-right id="twentysix" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">27.<ion-icon id="twentyseven" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">28.<ion-icon float-right id="twentyeight" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">29.<ion-icon id="twentynine" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">30.<ion-icon float-right id="thirty" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">31.<ion-icon id="thirtyone" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">32.<ion-icon float-right id="thirtytwo" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">33.<ion-icon id="thirtythree" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">34.<ion-icon float-right id="thirtyfour" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">35.<ion-icon id="thirtyfive" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">36.<ion-icon float-right id="thirtysix" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">37.<ion-icon id="thirtyseven" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">38.<ion-icon float-right id="thirtyeight" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr>
            <td style="font-size: 32px;color:white">39.<ion-icon id="thirtynine" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
            <td style="text-align:end;font-size: 32px;color:white">40.<ion-icon float-right id="forthy" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr style="border-top:1px solid white;border-bottom:1px solid white">
            <td style="text-align:center;color:yellow" colspan="2">Key</td>
        </tr>
        <tr style="text-align:center; border-top:1px;">
            <td colspan="2" style="font-size: 15px;color:#00FF00">Available Parking<ion-icon color="green" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
        <tr style="text-align:center; border-top:1px;">
            <td colspan="2" style="font-size: 15px;color:red">Unavailable Parking<ion-icon color="green" style="font-size: 32px" slot="start" name="car"></ion-icon></td>
        </tr>
    </table>
  </div>
  <ion-button ionFocus (click)="filter()" size="small" fill="outline" shape="round" expand="block" color="dark">
      Filter View
      <ion-icon slot="start" name="funnel"></ion-icon>


  </ion-button>
 
  
  
 
</ion-content>
