.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-title{
  font-family: "Montserrat";
}
#Layout{
  height:900px;
  width:100%;
  background: rgba(0,0,0,0.1);
}
.alertDanger{
  background-color: black;
  color: red;
  button{
      color: red;
  }
}
#table{
  background:rgba(0,0,0,0.1);
  border:1px solid silver;
}