<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking Lot View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <BR>
  <div id="Layout">
    <table width="100%">
      <tr>
        <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
        <td><ion-icon float-right id="two" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="three" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="four" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="five" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="six" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="seven" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="eight" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
      <tr>
          <td><ion-icon id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
          <td><ion-icon float-right id="one" style="font-size: 64px" slot="start" name="car"></ion-icon></td>
      </tr>
    </table>
  </div>
  <ion-button ionFocus href="#" size="small" fill="outline" shape="round" expand="block" color="dark">
      Filter View
      <ion-icon slot="start" name="funnel"></ion-icon>


  </ion-button>
 
  
  
 
</ion-content>
