<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking Lot View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <table width="100%" id="table">
        <tr colspan="2" style="color:white;width:100%;background-color: rgba(0,0,0,0.2);border-bottom:1px solid silver">
          <th colspan="2">
            <h1>Staff Parking Space</h1>
          </th>
        </tr>
        <br />
        <tr>
          <td float-left style="font-size: 31px;color:white">
            1.&nbsp;&nbsp;<ion-icon [ngStyle]="{ 'color': iconColor1 }" id="one" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            2.<ion-icon float-right id="two" [ngStyle]="{ 'background-color': iconColor2 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            3.&nbsp;&nbsp;<ion-icon [ngStyle]="{ 'color': iconColor3 }" id="three" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            4.<ion-icon float-right [ngStyle]="{ 'background-color': iconColor4 }" id="four" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            5.&nbsp;&nbsp;<ion-icon [ngStyle]="{ 'color': iconColor5 }" id="five" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            6.<ion-icon float-right [ngStyle]="{ 'background-color': iconColor6 }" id="six" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            7.&nbsp;&nbsp;<ion-icon [ngStyle]="{ 'color': iconColor7 }" id="seven" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            8.<ion-icon float-right [ngStyle]="{ 'background-color': iconColor8 }" id="eight" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            9.&nbsp;&nbsp;<ion-icon [ngStyle]="{ 'color': iconColor9 }" id="nine" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            10.<ion-icon float-right [ngStyle]="{ 'background-color': iconColor10 }" id="ten" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            11.<ion-icon [ngStyle]="{ 'color': iconColor11 }" id="eleven" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            12.<ion-icon float-right [ngStyle]="{ 'color': iconColor12 }" id="twelve" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            13.<ion-icon [ngStyle]="{ 'color': iconColor12 }" id="thirteen" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            14.<ion-icon [ngStyle]="{ 'color': iconColor14 }" float-right id="fourteen" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            15.<ion-icon [ngStyle]="{ 'color': iconColor15 }" id="fifteen" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            16.<ion-icon [ngStyle]="{ 'color': iconColor16 }" float-right id="sixteen" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            17.<ion-icon [ngStyle]="{ 'color': iconColor17 }" id="seventeen" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            18.<ion-icon [ngStyle]="{ 'color': iconColor18 }" float-right id="eighteen" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            19.<ion-icon [ngStyle]="{ 'color': iconColor19 }" id="nineteen" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            20.<ion-icon [ngStyle]="{ 'color': iconColor20 }" float-right id="twenty" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-slide>
    <ion-slide>
      <table width="100%" id="table">
        <tr colspan="2" style="color:white;width:100%;background-color: rgba(0,0,0,0.2);border-bottom:1px solid silver">
          <th colspan="2">
            <h1>Visitors and Student's Parking</h1>
          </th>
        </tr>
        <br />
        <tr>
          <td float-left style="font-size: 31px;color:white">
            21.<ion-icon [ngStyle]="{ 'color': iconColor21 }" id="twentyone" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            22.<ion-icon float-right id="twentytwo" [ngStyle]="{ 'color': iconColor22 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            23.<ion-icon id="twentythree" [ngStyle]="{ 'color': iconColor23 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            24.<ion-icon float-right id="twentyfour" [ngStyle]="{ 'color': iconColor24 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            25.<ion-icon id="twentyfive" [ngStyle]="{ 'color': iconColor25 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            26.<ion-icon float-right id="twentysix" [ngStyle]="{ 'color': iconColor26 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            27.<ion-icon id="twentyseven" style="font-size: 41px" [ngStyle]="{ 'color': iconColor27 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            28.<ion-icon float-right id="twentyeight" [ngStyle]="{ 'color': iconColor28 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            29.<ion-icon id="twentynine" style="font-size: 41px" [ngStyle]="{ 'color': iconColor29 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            30.<ion-icon float-right id="thirty" [ngStyle]="{ 'color': iconColor30 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            31.<ion-icon id="thirtyone" style="font-size: 41px" [ngStyle]="{ 'color': iconColor31 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            32.<ion-icon float-right id="thirtytwo" [ngStyle]="{ 'color': iconColor32 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            33.<ion-icon id="thirtythree" [ngStyle]="{ 'color': iconColor33 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            34.<ion-icon float-right id="thirtyfour" [ngStyle]="{ 'color': iconColor34 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            35.<ion-icon id="thirtyfive" [ngStyle]="{ 'color': iconColor35 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            36.<ion-icon float-right id="thirtysix" [ngStyle]="{ 'color': iconColor36 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            37.<ion-icon id="thirtyseven" [ngStyle]="{ 'color': iconColor37 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            38.<ion-icon float-right id="thirtyeight" [ngStyle]="{ 'color': iconColor38 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            39.<ion-icon id="thirtynine" [ngStyle]="{ 'color': iconColor39 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            40.<ion-icon float-right id="forty" [ngStyle]="{ 'color': iconColor40 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-slide>
    <ion-slide>
      <table width="100%" id="table">
        <tr colspan="2" style="color:white;width:100%;background-color: rgba(0,0,0,0.2);border-bottom:1px solid silver">
          <th colspan="2">
            <h1>Visitors and Student's Parking</h1>
          </th>
        </tr>
        <br />
        <tr>
          <td float-left style="font-size: 31px;color:white">
            41.<ion-icon [ngStyle]="{ 'color': iconColor41 }" id="twentyone" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            42.<ion-icon float-right id="twentytwo" [ngStyle]="{ 'color': iconColor42 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            43.<ion-icon id="twentythree" style="font-size: 41px" [ngStyle]="{ 'color': iconColor43 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            44.<ion-icon float-right id="twentyfour" [ngStyle]="{ 'color': iconColor44 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            45.<ion-icon id="twentyfive" style="font-size: 41px" [ngStyle]="{ 'color': iconColor45 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            46.<ion-icon float-right id="twentysix" style="font-size: 41px" [ngStyle]="{ 'color': iconColor46 }"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            47.<ion-icon id="twentyseven" style="font-size: 41px" [ngStyle]="{ 'color': iconColor47 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            48.<ion-icon float-right id="twentyeight" [ngStyle]="{ 'color': iconColor48 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            49.<ion-icon id="twentynine" [ngStyle]="{ 'color': iconColor49 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            50.<ion-icon float-right id="thirty" [ngStyle]="{ 'color': iconColor50 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            51.<ion-icon id="thirtyone" [ngStyle]="{ 'color': iconColor51 }" style="font-size: 41px" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            52.<ion-icon float-right id="thirtytwo" style="font-size: 41px" [ngStyle]="{ 'color': iconColor52 }"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            53.<ion-icon id="thirtythree" style="font-size: 41px" [ngStyle]="{ 'color': iconColor53 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            54.<ion-icon float-right id="thirtyfour" style="font-size: 41px" [ngStyle]="{ 'color': iconColor54 }"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            55.<ion-icon id="thirtyfive" style="font-size: 41px" [ngStyle]="{ 'color': iconColor55 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            56.<ion-icon float-right id="thirtysix" style="font-size: 41px" [ngStyle]="{ 'color': iconColor56 }"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            57.<ion-icon id="thirtyseven" style="font-size: 41px" [ngStyle]="{ 'color': iconColor57 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            58.<ion-icon float-right id="thirtyeight" [ngStyle]="{ 'color': iconColor58 }" style="font-size: 41px"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
        <tr>
          <td float-left style="font-size: 31px;color:white">
            59.<ion-icon id="thirtynine" style="font-size: 41px" [ngStyle]="{ 'color': iconColor59 }" slot="start"
              name="car"></ion-icon>
          </td>
          <td style="text-align:end;font-size: 31px;color:white">
            60.<ion-icon float-right id="forty" style="font-size: 41px" [ngStyle]="{ 'color': iconColor60 }"
              slot="start" name="car"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-slide>
  </ion-slides>
  <section style="border-bottom: 0.1px solid silver;color:white;font-family: monserrat;font-size: 20px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Key</section><br>
  <section style="display: flex">
    <section>
      <ion-icon float-left id="av" style="font-size: 41px" [ngStyle]="{ 'color': iconColorA }" slot="start" name="car">
      </ion-icon>Available
    </section>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <section>
      <ion-icon float-left id="nav" style="font-size: 41px" [ngStyle]="{ 'color': iconColorNA }" slot="start"
        name="car"></ion-icon>Unavailable
    </section>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <section>
      <ion-icon float-left id="res" style="font-size: 41px" [ngStyle]="{ 'color': iconColorRE }" slot="start"
        name="car"></ion-icon>Reserved
    </section>
  </section>

</ion-content>