<ion-header>
  <ion-toolbar>
    <ion-label  style="font-size:12px;font-family: monserrat">Time Passed: {{min}}:{{sec}}</ion-label>
    <ion-title>
      Making a Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img id="image3" src="/assets/reserve.jpg"></ion-img>
    <ion-card-content id="top">
      <ion-card-subtitle
        >Reserve your Parking space in 3 single clicks</ion-card-subtitle
      >
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <ion-label> Select your Desired Parking Spot.</ion-label><br />
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <ion-label> Select Estimated Time to Arrival (ETA).</ion-label><br />
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <ion-label> Click Reserve and thats it! </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="selectSpot()" ionFocus color="dark"
        ><ion-icon name="compass"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Select My
        Desired Spot</ion-button
      >
      <ion-button (click)="selectTime()" ionFocus color="dark"
        ><ion-icon name="time"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Select My
        ETA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button
      >
      <ion-button (click)="reserveSpot()" ionFocus color="dark"
        ><ion-icon name="checkmark-circle"></ion-icon
        >&nbsp;&nbsp;&nbsp;&nbsp;Reserve My
        Spot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
